@import "./base/variables";
@import "./base/loader";

body {
  /* dom-variables */
  --main-color: #{$main-color};
  --maing-gradient-green: #{$main-gradient-green};
  --maing-gradient-blue: #{$main-gradient};
  --main-background: #{$main-background};
  --main-background-forced: #{$main-background-forced};
  --main-hidden-color: #{$main-hidden-color};
  --main-white-transparent: #{$main-white-transparent};
  --main-white-transparent-hoved: #{$main-white-transparent-hoved};
  --main-black-transparent: #{$main-black-transparent};
  background: $main-background;
}

* {
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: $main-color rgba(245, 245, 245, 0.041);
  color: $main-primary-color;
  fill: $main-primary-color;
  font-family: "Open Sans", "Roboto", sans-serif;
  transition: 0.25s;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(245, 245, 245, 0.041);
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border: 1px solid $main-background;
}

#g-container {
  position: relative;
  width: calc(100% - 200px);
  height: 100%;
  margin: 0 auto;

  .gradient-text {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &.green {
      background-image: -webkit-linear-gradient(to right, $main-gradient-green);
      background-image: linear-gradient(to right, $main-gradient-green);
    }
    &.blue {
      background-image: -webkit-linear-gradient(to right, $main-gradient);
      background-image: linear-gradient(to right, $main-gradient);
    }
  }
  .number-subject {
    color: $main-color;
    font-size: 20px;
    font-family: monospace;
  }
}
