$main-background: rgb(22, 22, 22);
$main-background-forced: rgb(17, 17, 17);
$main-color: rgb(37, 198, 220);
$main-hidden-color: rgb(143, 143, 143);
$main-gradient: (rgb(37, 198, 220), rgb(62, 42, 154));
$main-gradient-green: (#11998e, #08f677);
